---
// Root redirect to /en/
---

<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url=/en/" />
  <title>CellPowerX Wellness Center</title>
  <style>body{margin:0;background:#f2f2f2;}</style>
</head>
<body>
  <script>window.location.replace('/en/');</script>
</body>
</html>
